<!--footer Start-->
<footer class="footer-3">
    <div class="container">
        <div class="row">
            <div class="col-md-4 footer-box-1">
                <div class="footer-logo">
                    <a href="#" title=""><img src="~/images/eaglecoinlogo1.png" width="80" alt="Cp Silver"></a>
                </div>
                <p>A digital token backed by fiat currency provides individuals and organizations with a robust and decentralized method of exchanging value while using a familiar accounting unit.</p>
            </div>
            <div class="col-md-3 footer-box-2">
                <ul class="footer-menu onepage">
                    <li><a href="#home">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#mission">Mission</a></li>
                    <li class=""><a href="#token">Token</a></li>
                    <li class=""><a href="#roadmap">Roadmap</a></li>
                </ul>
            </div>
            <div class="col-md-5 footer-box-3">
                <h4>Newsletter</h4>
                <p>Keep up to date with our progress. Subscribe for e-mail updates.</p>
                <div class="newsletter">
                    <form>
                        <div class="input"><input type="email" name="Email" placeholder="Your email address"></div>
                        <div class="submit"><input class="btn" type="submit" name="subscribe" value="subscribe"></div>
                    </form>
                </div>
                <div class="socials">
                    <ul>
                        <li><a href="https://www.facebook.com/Eaglecoin-104092901910174" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="https://twitter.com/EAGLECOIN9" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="https://plus.google.com/"><i class="fab fa-google-plus-g"></i></a></li>
                        <li><a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="copyrights style-1">
                    © 2021 ELC. Design &amp; Developed by <a href="#">EagleCoin Team</a>
                </div>
            </div>
        </div>
    </div>
</footer>

<!--footer end-->