<!--Header Start -->
<header class="">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4 logo">
                <a href="cp-platinum.html" title="Cp Platinum">
                    <img class="light" src="~/images/eaglecoinlogo1.png" width="80" alt="Cp Platinum">
                    <img class="dark" src="~/images/eaglecoinlogo1.png" width="80" alt="Cp Platinum">
                </a>
            </div>
            <div class="col-sm-6 col-md-8 main-menu">
                <div class="menu-icon">
                    <span class="top"></span>
                    <span class="middle"></span>
                    <span class="bottom"></span>
                </div>
                <nav class="onepage">
                    <ul>
                        <li class="active"><a href="#top">Home</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#token">token</a></li>
                        <li><a href="#roadmap">roadmap</a></li>
                        <li class="nav-btn"><a href="#" class="btnLogin">Sign In</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
<!--Header End-->