<!doctype html>
<html>
<head>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="ThemeMarch">
    <!-- Page Title -->
    <title>Dolphin</title>
    <!-- Favicon Icon -->
    <link rel="icon" href="~/images/dopllogo.png">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="~/client-side/dolphin/assets/css/plugins.css">
    <link rel="stylesheet" href="~/client-side/dolphin/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/client-side/dolphin/assets/css/animate.min.css">
    <link rel="stylesheet" href="~/client-side/dolphin/assets/css/icofont.css">
    <link rel="stylesheet" href="~/client-side/dolphin/assets/css/flaticon.css">
    <link rel="stylesheet" href="~/client-side/dolphin/assets/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/client-side/dolphin/assets/css/slick.min.css">
    <link rel="stylesheet" href="~/client-side/dolphin/assets/css/modal.video.min.css">
    <link rel="stylesheet" href="~/client-side/dolphin/assets/css/style.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="~/client-side/dolphin/assets/vendor/backward/html5shiv.js"></script>
    <script type="text/javascript" src="~/client-side/dolphin/assets/vendor/backward/respond.min.js"></script>
    <![endif]-->
</head>

<body data-spy="scroll" data-target=".tm-section-active" class="tm-green-color">
    <!-- Start Preloader -->
    <div id="tm-preloader">
        <div class="tm-preloader-in">
            <div class="bar bar-top"></div>
            <div class="bar bar-right"></div>
            <div class="bar bar-bottom"></div>
            <div class="bar bar-left"></div>
        </div>
    </div>
    <!-- End Preloader -->
    @RenderBody()
    <!-- Scroll Up -->
    <div id='scrollup'><i class="fa fa-angle-double-up"></i></div>

    <!-- Scripts -->

    <script src="~/client-side/dolphin/assets/js/modernizr-3.5.0.min.js"></script>
    <script src="~/client-side/dolphin/assets/js/jquery-1.12.4.min.js"></script>
    <script src="~/client-side/dolphin/assets/js/bootstrap.min.js"></script>
    <script src="~/client-side/dolphin/assets/js/smoothScroll.min.js"></script>
    <script src="~/client-side/dolphin/assets/js/jQuery.easing.min.js"></script>
    <script src="~/client-side/dolphin/assets/js/wow.min.js"></script>
    <script src="~/client-side/dolphin/assets/js/particles.min.js"></script>
    <script src="~/client-side/dolphin/assets/js/mailchimp.min.js"></script>
    <script src="~/client-side/dolphin/assets/js/slick.min.js"></script>
    <script src="~/client-side/dolphin/assets/js/modal.video.min.js"></script>
    <script src="~/client-side/dolphin/assets/js/main.js"></script>
</body>
</html>